
@model User

@using NedShape.Data.Models;

@{
    if ( VariableExtension.SystemRules == null )
    {
        VariableExtension.SetRules();
    }
    
    Guid? token = ( ViewBag.Token != null ) ? ( Guid? ) ViewBag.Token : null;

    String absoluteUrlBase = Request.Url.Scheme + "://" + Request.Url.Host + ( Request.Url.IsDefaultPort ? "" : ":" + Request.Url.Port );
}

<table cellspacing="0" cellpadding="10" width="100%" style="width: 100%; font-size: 11px; margin: 0 auto; background-color: #fff; font-family: Helvetica, 'Segoe UI', Verdana, Sans-Serif;">

    <tbody>
        <tr>
            <td width="30%"></td>
            <td width="40%" style="text-align: left;">
                <img alt="NedShape" src="@Url.Content( absoluteUrlBase + "/Images/cash4leads-logo.png" )" style="width: 40%;" />
            </td>
            <td width="30%"></td>
        </tr>
        <tr>
            <td height="20" colspan="3"></td>
        </tr>
        <tr>
            <td width="20%"></td>
            <td width="60%">
                Hi @Model.Name @Model.Surname,
            </td>
            <td width="20%"></td>
        </tr>
        <tr>
            <td width="20%"></td>
            <td width="60%">
                <p>
                    You have requested to reset your login details. Use the link below to create a new password:
                </p>
            </td>
            <td width="20%"></td>
        </tr>
        <tr>
            <td height="10" colspan="3"></td>
        </tr>
        <tr>
            <td width="20%"></td>
            <td width="60%">
                <p>
                    <a href="@absoluteUrlBase/Account/ResetPassword?uid=@token">RESET PASSWORD</a>
                </p>
            </td>
            <td width="20%"></td>
        </tr>
        <tr>
            <td height="10" colspan="3"></td>
        </tr>
        <tr>
            <td width="20%"></td>
            <td width="60%">
                <p>
                    Should you have any queries please mail the support desk below:
                </p>
            </td>
            <td width="20%"></td>
        </tr>
        <tr>
            <td width="20%"></td>
            <td width="60%">
                <p>
                    Support Email: <a href="mailto:@VariableExtension.SystemRules.ContactEmail">@VariableExtension.SystemRules.ContactEmail</a>
                </p>
            </td>
            <td width="20%"></td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td width="20%"></td>
            <td width="60%" style="text-align: left; color: #aaa;">
                <i>@DateTime.Now.Year Copyright &copy; | Cash4Leds. All Rights Reserved</i>
            </td>
            <td width="20%"></td>
        </tr>
    </tfoot>

</table>