@model PagingExtension

@using NedShape.Data.Models;
@using NedShape.Core.Enums;
@using NedShape.Core.Models;

@{
    ViewBag.ShowExport = true;
    ViewBag.ShowCustom = true;
    ViewBag.ViewName = "_AuditLog";
    
    UserModel user = User.Get();
}


@Html.Partial( "_Notification" )


@{
    Int32 count = Model.Start;
    List<AuditLogCustomModel> items = ( List<AuditLogCustomModel> ) Model.Items;
}


@if ( Model == null || items == null || !items.Any() )
{
    <div class="notification message-warn" style="margin-bottom: 20px;">
        There are no Audit Logs available matching your search criteria.
    </div>
}


<table class="da-table datatable-numberpaging sort">

    <thead>
        <tr>
            <th>
                #
            </th>
            <th data-column="CreatedOn">
                Date
            </th>
            <th data-column="Type">
                Activity
            </th>
            <th data-column="User.Name">
                User
            </th>
            <th data-column="ActionTable">
                Target
            </th>
            <th data-column="Controller">
                Controller
            </th>
            <th data-column="Action">
                Action
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        @if ( Model != null && items != null && items.Count() > 0 )
        {
            foreach ( var item in items )
            {
                ActivityTypes activity = ( ActivityTypes ) item.Type;

                <tr id="tr-@item.Id-item" class="tr-@item.Id-item">

                    <td width="1%">
                        @count
                    </td>
                    <td>
                        @item.CreatedOn.ToString( "yyyy/MM/dd @ HH:mm tt" )
                    </td>
                    <td>
                        @activity.GetDisplayText()
                    </td>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.ActionTable
                    </td>
                    <td>
                        @item.Controller
                    </td>
                    <td>
                        @item.Action
                    </td>
                    <td width="6%">
                        @Html.ActionLink( "Details", "AuditLogDetails", new { id = item.Id }, new { @class = "info", @data_details = "1", @data_id = item.Id, @data_target = ".tr-" + item.Id + "-item" } )
                    </td>

                </tr>
                
                count++;
            }
        }
    </tbody>

</table>

@*@Html.Partial( "_AuditLogCustomSearch", new NedShape.Core.Models.CustomSearchModel() )*@

@Html.Partial( "_Paging" )