@model PagingExtension

@using NedShape.Data.Models;
@using NedShape.Core.Enums;
@using NedShape.Core.Models;

@{
    ViewBag.ShowExport = true;
    ViewBag.ViewName = "_Broadcasts";
    
    UserModel user = User.Get();
}


@Html.Partial( "_Notification" )

@{
    Int32 count = Model.Start;
    List<Broadcast> items = ( List<Broadcast> ) Model.Items;
}

@if ( Model == null || !items.Any() )
{
    <div class="notification message-warn" style="margin-bottom: 20px;">
        There are no Broadcasts available matching your search criteria.
    </div>
}

<p>
    @Html.ActionLink( "Add Broadcast", "AddBroadcast", new { }, new { @class = "add", @rel = "tipsyS", @title = "Add a new Broadcast?", @data_edit = "1", @data_id = 0, @data_target = "#broadcasts" } )
    <span class="loader"></span>
</p>

<table class="da-table datatable-numberpaging sort">

    <thead>
        <tr>
            <th>
                #
            </th>
            <th data-column="CreatedOn">
                Date
            </th>
            <th data-column="StartDate">
                Starts
            </th>
            <th data-column="EndDate">
                Ends
            </th>
            <th data-column="Status">
                Status
            </th>
            <th>
                x Read
            </th>
            <th data-column="Message">
                Message
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        @if ( Model != null && items != null && items.Count() > 0 )
        {
            foreach ( var item in items )
            {
                Status status = ( Status ) item.Status;

                String active = status.Equals( Status.Active ) ? "active" : "inactive";
                String enable = status.Equals( Status.Active ) ? "Disable" : "Enable";

                <tr id="tr-@item.Id-item" class="tr-@item.Id-item @active">

                    <td width="1%">
                        @count
                    </td>
                    <td>
                        @item.CreatedOn.ToString( "yyyy/MM/dd" )
                    </td>
                    <td>
                        @item.StartDate.ToString( "yyyy/MM/dd" )
                    </td>
                    <td>
                        @(item.EndDate.HasValue ? item.EndDate.Value.ToString( "yyyy/MM/dd" ) : "-/-")
                    </td>
                    <td>
                        @status.GetDisplayText()
                    </td>
                    <td>
                        @item.UserBroadcasts.Count
                    </td>
                    <td width="40%" style="line-height: 15px;">
                        @Html.Raw( item.Message.Replace( "\n", "<br />" ) )
                    </td>
                    <td width="16%">
                        @Html.ActionLink( "Details", "BroadcastDetails", new { id = item.Id }, new { @class = "info", @data_details = "1", @data_id = item.Id, @data_target = ".tr-" + item.Id + "-item" } )

                        @Html.ActionLink( "Edit", "EditBroadcast", new { id = item.Id, returnView = "Broadcasts" }, new { @class = "edit", @data_edit = "1", @data_id = item.Id, @data_target = ".tr-" + item.Id + "-item" } )
                        @Html.ActionLink( enable, "DeleteBroadcast", new { id = item.Id }, new { @class = "warn", @data_delete = "1", @data_id = item.Id, @data_target = "#tr-" + item.Id + "-item", @data_refresh_target = "#broadcasts", @rel = "tipsyE", @title = enable + " this item?" } )
                    </td>

                </tr>
                
                count++;
            }
        }
    </tbody>

</table>

@Html.Partial( "_Paging" )