@model PagingExtension

@using NedShape.Data.Models;
@using NedShape.Core.Enums;
@using NedShape.Core.Models;

@{
    ViewBag.ShowExport = true;
    ViewBag.ShowCustom = true;
    ViewBag.ShowQuickStructure = true;

    ViewBag.ViewName = "_Users";

    UserModel user = User.Get();
}


@Html.Partial( "_Notification" )


@{
    Int32 count = Model.Start;
    List<User> items = ( List<User> ) Model.Items;
}


@if ( Model == null || !items.Any() )
{
    <div class="notification message-warn" style="margin-bottom: 20px;">
        There are no Users  available matching your search criteria.
    </div>
}

<p>
    @Html.ActionLink( "Add User", "AddUser", new { }, new { @class = "add", @rel = "tipsyS", @title = "Add a new user?", @data_edit = "1", @data_id = 0, @data_target = "#users" } )
    <span class="loader"></span>
</p>


<table class="da-table datatable-numberpaging sort">

    <thead>
        <tr>
            <th>
                #
            </th>
            <th data-column="Name">
                Name
            </th>
            <th data-column="Cell">
                Contact
            </th>
            <th data-column="IdNumber">
                ID/Passport #
            </th>
            <th data-column="Status">
                Status
            </th>
            <th data-column="UserType">
                Type
            </th>
            <th>
                Role
            </th>
            <th>
                Last Login
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        @if ( Model != null && items != null && items.Count() > 0 )
        {
            foreach ( var item in items )
            {
                Status status = ( Status ) item.Status;

                Role role = new Role() { Name = "~/~", Type = -1 };

                if ( item.UserRoles.Any() )
                {
                    role = item.UserRoles.FirstOrDefault().Role;
                }

                RoleType roleType = ( RoleType ) role.Type;

                String active = status.Equals( Status.Active ) ? "active" : "inactive";
                String enable = status.Equals( Status.Active ) ? "Disable" : "Enable";

                <tr id="tr-@item.Id-item" class="tr-@item.Id-item @active">

                    <td width="1%">
                        @count
                    </td>
                    <td style="width: 15%;">
                        @item.Name @item.Surname <br />
                        <i><a href="mailto:@item.Email">@item.Email</a></i>
                    </td>
                    <td>
                        @item.Cell
                    </td>
                    <td width="10%">
                        @item.IdNumber
                    </td>
                    <td>
                        @status.GetDisplayText()
                    </td>
                    <td>
                        @item.UserType.Description
                    </td>
                    <td>
                        @roleType.GetDisplayText()
                    </td>
                    <td>
                        @item.LastLogin
                    </td>
                    <td width="15%">
                        @Html.ActionLink( "Details", "UserDetails", new { id = item.Id }, new { @class = "info", @data_details = "1", @data_id = item.Id, @data_target = ".tr-" + item.Id + "-item" } )

                        @Html.ActionLink( "Edit", "EditUser", new { id = item.Id, returnView = "Users" }, new { @class = "edit", @data_edit = "1", @data_id = item.Id, @data_target = ".tr-" + item.Id + "-item" } )

                        @if ( user.Email != item.Email )
                        {
                            @Html.ActionLink( enable, "DeleteUser", new { id = item.Id }, new { @class = "warn", @data_delete = "1", @data_id = item.Id, @data_target = "#tr-" + item.Id + "-item", @data_refresh_target = "#users", @rel = "tipsyE", @title = enable + " this item?" } )
                        }
                    </td>

                </tr>

                count++;
            }
        }
    </tbody>

</table>

@*@Html.Partial( "_UserCustomSearch", new NedShape.Core.Models.CustomSearchModel( "User" ) )*@

@Html.Partial( "_Paging" )