@model NedShape.UI.Models.BroadcastViewModel

@using NedShape.Data.Models
@using NedShape.Core.Models;

@{
    if ( ViewBag.IncludeLayout == null )
    {
        Layout = null;
    }

    ViewBag.Title = "Add Broadcast";
}


@Html.Partial( "_Notification" )

@using ( Html.BeginForm( "AddBroadcast", "Administration", FormMethod.Post, new { enctype = "multipart/form-data", @data_ajax_form = "1", @data_target = "#broadcasts", @class = "custom-validate", @style = "width: auto;" } ) )
{
    <div id="edit-item">

        <h2 class="uppercase" style="width: auto;">
            <img alt="" src="@Url.Content( "~/images/add.png" )" />
            <span>Add Broadcast</span>
        </h2>

        @Html.ValidationSummary( true )

        <div id="item-details" class="item-details" style="width: auto;">

            <div style="float: left; width: 48%; margin-right: 2%;">

                <div class="edit-label">
                    @Html.LabelFor( model => model.Message )
                </div>
                <div class="edit-field">
                    @Html.TextAreaFor( model => model.Message, 10, 10, new { @placeholder = "Enter your message", @style="height: 150px;" } )
                    @Html.ValidationMessageFor( model => model.Message )
                </div>

            </div>

            <div style="float: left; width: 48%; margin-right: 2%;">

                <div class="edit-label">
                    @Html.LabelFor( model => model.StartDate )
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor( model => model.StartDate, new { @placeholder = "Select Broadcast Start Date", @class="date-picker", @readonly="readonly" } )
                    @Html.ValidationMessageFor( model => model.StartDate )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.EndDate )
                </div>
                <div class="edit-field">
                    @Html.TextBoxFor( model => model.EndDate, new { @placeholder = "Select Broadcast End Date", @class="date-picker", @readonly="readonly" } )
                    @Html.ValidationMessageFor( model => model.EndDate )
                </div>

                <div class="edit-label">
                    @Html.LabelFor( model => model.Status )
                </div>
                <div class="edit-field">
                    @Html.EnumDropDownFor( model => model.Status, false, new { @class = "chzn", @style = "width: 98%;" } )
                    @Html.ValidationMessageFor( model => model.Status )
                </div>

            </div>

            <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 10px; height: 0;">&nbsp;</div>

            <p>
                <input id="save-btn" type="submit" value="Save" />

                <span style="padding: 0 5px;">/</span>

                <a data-refresh="1" data-target="#broadcasts">Cancel</a>
            </p>

        </div>

    </div>
}