@model NedShape.Core.Models.AuditLogCustomModel

@using NedShape.Core.Enums;
@using System.Web.Script.Serialization;

@{
    if ( ViewBag.IncludeLayout == null )
    {
        Layout = null;
    }

    ViewBag.Title = "Details";
}

@if ( ViewBag.IncludeLayout != null )
{
    <h2>
        <img alt="" src="@Url.Content( "~/images/info.png" )" />
        <span>Audit Log Details</span>
    </h2>
}

<div id="item-details" class="item-details" style="width: auto;">

    @if ( ViewBag.IncludeLayout == null )
    {
        <h2>
            <img alt="" src="@Url.Content( "~/images/info.png" )" />
            <span>Audit Log Details</span>
        </h2>
    }

    <div class="left grouped-area" style="width: 45%; margin-right: 1%;">

        <div class="display-label">
            Date
        </div>
        <div class="display-field">
            @(Model.CreatedOn.ToString( "yyyy/MM/dd @ HH:mm tt" ))
        </div>

        <div class="display-label">
            Activity
        </div>
        <div class="display-field">
            @( ( ( ActivityTypes ) Model.Type ).GetDisplayText() )
        </div>

        <div class="display-label">
            User
        </div>
        <div class="display-field">
            @Html.DisplayFor( model => model.User.Name ) @Html.DisplayFor( model => model.User.Surname )
        </div>

        <div class="display-label">
            @Html.DisplayNameFor( model => model.ActionTable )
        </div>
        <div class="display-field">
            @Html.DisplayFor( model => model.ActionTable )
        </div>

        <div class="display-label">
            @Html.DisplayNameFor( model => model.Action )
        </div>
        <div class="display-field">
            @Html.DisplayFor( model => model.Action )
        </div>

    </div>

    <div class="left grouped-area" style="width: 45%;">

        <div class="display-label">
            @Html.DisplayNameFor( model => model.Controller )
        </div>
        <div class="display-field">
            @Html.DisplayFor( model => model.Controller )
        </div>

        <div class="display-label">
            @Html.DisplayNameFor( model => model.Comments )
        </div>
        <div class="display-field">
            @Html.DisplayFor( model => model.Comments )
        </div>

        <div class="display-label">
            @Html.DisplayNameFor( model => model.Browser )
        </div>
        <div class="display-field" style="padding-top: 0; margin-top: 0;">
            @Html.Raw( Model.Browser.Replace( Environment.NewLine, "<br />" ) )
        </div>

    </div>
            
    <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 10px; height: 0;">&nbsp;</div>

    <p>
        <strong>Images</strong>
    </p>

    @if ( !String.IsNullOrEmpty( Model.ActionTable ) && Model.ObjectId.HasValue )
    {
        <div class="left" style="width: 45%; margin-right: 1%;">
            <div class="display-label">
                Before
            </div>
            <div class="display-field">
                @Html.Partial( "_Pre", Model.BeforeImage )
            </div>
        </div>

        <div class="left" style="width: 46%;">
            <div class="display-label">
                After
            </div>
            <div class="display-field">
                @Html.Partial( "_Pre", Model.AfterImage )
            </div>
        </div>
    }
    else
    {
        <div class="message-warn">
            This Audit Log does not have any images to show.
        </div>
    }
            
    <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 10px; height: 0;">&nbsp;</div>

    @if ( ViewBag.IncludeLayout == null )
    {
        <p>
            @if ( ViewBag.IncludeLayout == null )
            {
                <a data-cancel="1" data-target="#item-details" data-remove="tr.edit">Close</a>
            }
        </p>
    }

    @if ( ViewBag.IncludeLayout != null )
    {
        <div class="back-to-list">
            @Html.ActionLink( "Back to List", "Index" )
        </div>
    }

</div>
