@model NedShape.Core.Models.CustomSearchModel


@{
    String vn = ( ( String ) ViewBag.ViewName ?? "" );
    String action = vn.Replace( "_", "" );
}

<div id="custom-search" class="custom-search">

    <div id="search-query" class="search-query">

        @using ( Ajax.BeginForm( "AuditLog", new { }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = action.ToLower(), OnBegin = "NS.UI.BeginCustomSearch($('#sticky-one form'), true);", OnComplete = "NS.UI.CompleteCustomSearch();" }, new { @style = "width: auto; padding: 0;" } ) )
        {
            <div class="left" style="width: 49%; margin-right: 1%;">
                <div class="editor-label">
                    @Html.LabelFor( model => model.UserId )
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor( model => model.UserId, model => model.UserOptions, u => u.Id, u => u.Name + " " + u.Surname, true, new { @class = "chzn", @style = "width: 98%;" } )
                </div>
            </div>

            <div class="left" style="width: 49%;">

                <div class="editor-label">
                    @Html.LabelFor( model => model.ActivityType )
                </div>
                <div class="editor-field">
                    @Html.EnumDropDownFor( model => model.ActivityType, false, true, new { @class = "chzn", @style = "width: 98%;" } )
                </div>

            </div>

            <div class="clear"></div>

            <div class="left" style="width: 49%; margin-right: 1%;">

                <div class="editor-label">
                    @Html.LabelFor( model => model.TableName )
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor( model => model.TableName, model => model.TableNameOptions, t => t, t => t, true, new { @class = "chzn", @style = "width: 98%;" } )
                </div>

            </div>

            <div class="left" style="width: 49%;">

                <div class="editor-label">
                    @Html.LabelFor( model => model.ControllerName )
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor( model => model.ControllerName, model => model.ControllerNameOptions, c => c, c => c, true, new { @class = "chzn", @style = "width: 98%;" } )
                </div>

            </div>

            <div class="clear"></div>

            <div class="left" style="width: 49%; margin-right: 1%;">

                <div class="editor-label">
                    @Html.LabelFor( model => model.FromDate )
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.FromDate, new { @class = "date-picker", @style="width: 87%;", @placeholder = "     /       /       " } )
                </div>

            </div>

            <div class="left" style="width: 49%;">

                <div class="editor-label">
                    @Html.LabelFor( model => model.ToDate )
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor( model => model.ToDate, new { @class = "date-picker", @style="width: 87%;", @placeholder = "     /       /       " } )
                </div>

            </div>

            <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 20px; height: 0;">&nbsp;</div>

            <div class="editor-label">
                @Html.LabelFor( model => model.Query )
            </div>
            <div class="editor-field">
                @Html.TextBoxFor( model => model.Query, new { @placeholder = "Search Text", @style = "width: 88%" } )
                <a rel="tipsyW" title="..search by any other field">
                    <img alt="" src="@Url.Content( "~/Images/info.png" )" style="vertical-align: middle;" />
                </a>
            </div>

            <div class="clear" style="border-bottom: 1px dashed #ccc; margin-bottom: 20px;">&nbsp;</div>

            <p style="margin-bottom: 0px;">
                <input id="ReturnView" name="ReturnView" value="_AuditLog" type="hidden" />
                <input id="save-btn" type="submit" value="Search" data-custom-search="1" data-target="#auditlog" />
                <input id="Controller" name="Controller" value="@ViewContext.RouteData.Values[ "controller" ]" type="hidden" />
            </p>
        }

    </div>

</div>
