@model NedShape.UI.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
}

<div class="sign-in">

    <div class="heads">
        Forgot Password
    </div>

    <div class="details">

        @using ( Html.BeginForm( new { ReturnUrl = ViewBag.ReturnUrl } ) )
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary( true )

            <p>
                @Html.TextBoxFor( model => model.Email, new { @class = "input username", @placeholder = "Enter your e-mail address" } )
                @Html.ValidationMessageFor( model => model.Email )
            </p>
            
            <div class="h-space"></div>

            <p>
                <input type="submit" value="Submit" style="display: inline;" />

                <span style="padding: 0 4px;">|</span>

                @Html.ActionLink( "Sign Up", "SignUp" )

                <span style="padding: 0 4px;">|</span>

                @Html.ActionLink( "Sign In", "Login" )
            </p>
        }

    </div>

</div>

<div class="shadow-small">&nbsp;</div>
