@model NedShape.UI.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
}

<div class="sign-in">

    <div class="heads">
        Reset My Password
    </div>

    <div class="details">

        @using ( Html.BeginForm( new { ReturnUrl = ViewBag.ReturnUrl } ) )
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary( true )

            @Html.HiddenFor( model => model.UID )

            <p>
                @Html.PasswordFor( model => model.Password, new { @class = "input", @placeholder = "Enter your new password" } )
                @Html.ValidationMessageFor( model => model.Password )
            </p>

            <p>
                @Html.PasswordFor( model => model.ConfirmPassword, new { @class = "input", @placeholder = "Confirm your new password" } )
                @Html.ValidationMessageFor( model => model.ConfirmPassword )
            </p>

            <div class="h-space"></div>

            <p>
                <input type="submit" value="Update" style="display: inline;" />
            </p>
        }

    </div>

</div>

<div class="shadow-small">&nbsp;</div>
